/* === [ Framework ] === */

* {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    background-color: rgb(49, 49, 49);
    font-size:10px;
}

#container, #navbar {
    position:absolute;

    /* box-sizing: border-box; */
    left:10vw;
    height:10vh;
    width:80vw;
    
    border:10px solid black;

    display: flex;
}

#navbar > li {
    box-sizing: border-box;
    border: 5px solid black;
    height: calc(10vh - 12px);
    background: linear-gradient(rgb(146, 153, 179), rgb(255, 255, 255));

    flex: 1;
}

#navbar > li.selected {
    background: linear-gradient(rgb(0, 55, 255), rgb(255, 255, 255));
}

#navbar > li > p {
    /* padding:1vw 1vh; */
    text-align: center;
    font-weight: bold;
    font-size: 1em;
    margin:0;
}

#navbar > li:hover {
    flex: 2;
    background: linear-gradient(rgb(0, 255, 60), rgb(255, 255, 255));
    cursor: pointer;
}

.indicator {
    display: flex;
    justify-content: center;
    z-index: 1;
}

.indicator > li {
    color:black;
    text-align: center;
    font-size: .8em;
    font-weight: bold;

    width:1vw;
    height:2vh;
    z-index: 0;
}

#container {
    height:80vh;
    top:10vh;

    background: linear-gradient(rgb(146, 153, 179), rgb(255, 255, 255));

    justify-content: space-around;
    flex-flow: row wrap;
}

.incomplete { 
    border:5px solid rgb(142, 0, 0);
    background-color: rgb(251, 88, 88);
}

.incomplete:hover {
    border:10px solid rgb(142, 0, 0);
}

.complete, .indicator-complete { 
    border:5px solid rgb(0, 142, 40);
    background-color: rgb(0, 185, 28);
}

.complete:hover { 
    border:10px solid rgb(0, 142, 40);
}

/* === [ Blueprint Selector ] === */

#add {
    border:5px solid rgb(0, 5, 142);
    background-color: rgb(0, 71, 178);
    font-size: 8em;
}

#add {
    color:white;
    text-decoration: none;
}

.card {
    text-align: center;
    font-size: 2em;

    height:30%;
    width:15%;

    cursor:move;
}

.card > * {
    display:block;
    margin: .3em auto;
}

.card > .link > p {
    margin: auto 2vw;
}

.priority-1, .indicator-priority-1 {
    border: 5px solid rgb(105, 0, 0);
    background-color: rgb(255, 47, 47);
}
.priority-2, .indicator-priority-2 {
    border: 5px solid rgb(255, 119, 0);
    background-color: rgb(255, 161, 39);
}
.priority-3, .indicator-priority-3 {
    border: 5px solid rgb(255, 204, 0);
    background-color: rgb(255, 244, 90);
}

.card:hover, #add:hover {
    border:5px solid black;
}

#add:hover, .radio:hover {
    cursor: pointer;
}

.link {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.link > p {
    background: linear-gradient(rgb(146, 153, 179), rgb(255, 255, 255));
    border: 5px solid black;
}

.link:hover > p {
    background: linear-gradient(rgb(0, 255, 60), rgb(255, 255, 255));
}

.radio {
    display: inline-flex;
    border-radius: 15px;
    overflow: hidden;
    border: 5px solid black;
}

.radio > input {
    display:none;
}

.radio > input + label {
    padding: .3em;
    background: linear-gradient(rgb(146, 153, 179), rgb(255, 255, 255));
    cursor:pointer;
}

.radio > input + label:not(:last-of-type) {
    border-right: 5px solid black;
}

.radio > input + label:hover {
    background: linear-gradient(rgb(0, 255, 60), rgb(255, 255, 255));
}

.radio > input:checked + label {
    background: linear-gradient(rgb(0, 55, 255), rgb(255, 255, 255));
    font-weight: bold;
}

/* === [ Blueprint Forge ] === */

#container > ul, svg {
    position:absolute;
    height:80vh;
    width:80vw;
}

.function_series {
    /* border:10px solid black; */
    display:flex;
    align-items:center;
}

ul {
    list-style: none;
    margin:0;
    padding:0;
}

li { 
    z-index:2;
    padding:0px;
    font-size:20px;
    height:100px;
}

textarea, button, .frame {
    border:5px solid rgb(0, 0, 0);
    background-color: rgb(71, 71, 71);
    color:white;
    text-decoration: none;
    font-size: 15px;

    box-shadow: 2px 2px #000000;
}

textarea {
    font-size:1em;
    width:7vw;

    resize:none;
    overflow:hidden;
}

textarea:hover, button:hover, .frame:hover {
    border:5px solid rgb(0, 5, 142);
    background-color: rgb(0, 71, 178);
}

button:hover {
    cursor: pointer;
}

#name {
    position:absolute;
    box-sizing: border-box;

    left:15vw;
    width:50vw;

    /* top:5vh; */
    height:8vh;

    font-size: 2em;
    text-align: center;
    z-index:3;
}

#frame-div {
    position:absolute;
    box-sizing: border-box;

    /* background-color: white; */

    left:35vw;
    width:10vw;

    top: -5vh;
    height:5vh;

    display: flex;
    justify-content: space-between;

    z-index: 10;
}

.frame > p {
    font-size:1em;
    position:relative;
    width:5vw;
}

svg {
    z-index:1;
    /* background-color: white; */
}