#component {
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    /* align-items:center; */
    background-color: grey;
}

#container {
    position:relative;
}

#nodes > ul, svg {
    position:absolute;
    width:90vw;
    height:70vh;
}

#objects {
    border:10px solid black;
    background-color: aqua;
    display:flex;
    align-items:center;
    /* justify-content:space-between; */
}

#objects > li {
    z-index:3;
}

li { 
    z-index:2;
    background-color: grey;
    padding:0px;
    border:5px solid black;
    font-size:20px;
    height:100px;
}

ul {
    list-style: none;
    margin:0;
    padding:0;
}

input {
    width:auto;
    border:2px solid black;
    width:70px;
}

.object:hover, .function:hover {
    border:10px solid black;
}

.function {
    position:absolute;
}

svg {
    z-index:1
}

.chain:hover, .delete:hover, .save:hover {
    color:red;
}

.save {
    margin:auto;
    margin:0 500px 0;
    z-index:100;
}